<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Mi primer Pagina Web CSS3">
    <meta name="keywords" content="HTML5, CSS3, Diseño web, UMG">
    <link rel="stylesheet" href="../Content/Estilo1.css">
    <title>Ejemplo HTML5-CSS3</title>
 
</head>
<body class="body">
    <header class="pageHeader">
        <nav>
            <ul>
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Acerca De</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
    </nav>
    </header>
    
    <!--- adicionar el cuerpo de la pagina utilizando DIV's -->
    <div class="Main">
        <div class="content">
            <article class="Top">
                <header>
                    <h2><a href="#">¿Que es HTML5?</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 10/07/2018 por UMG-Jalapa.</i></h5>
                </footer>
                <content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quos reiciendis perferendis neque sapiente quidem debitis est dolore atque exercitationem dolorum numquam, possimus perspiciatis ducimus rem esse voluptatibus repellat facere.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facere aliquam delectus voluptatem, ratione libero maxime officiis minus fugit quasi numquam ducimus quam perspiciatis laborum saepe fuga, distinctio beatae sequi.</p>
                </content>
            </article>
            <article class="Bottom">
                <header>
                    <h2><a href="#">Introducción a CSS3?</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 10/07/2018 por UMG-Jalapa</i></h5>
                </footer>
                <content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam facere rem dolores placeat. Iure dolore et alias nihil debitis ipsum, 
                        eaque atque fugit provident hic? Voluptas nesciunt nulla eaque iure.</p>
                     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi distinctio animi molestias amet in id, reiciendis, deleniti veniam placeat voluptas, vitae nemo velit ab omnis neque quibusdam quae? Sed, culpa.</p>
                     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores illum ipsa atque voluptatum, ab in tempora iste adipisci quis alias magni? Ab maiores optio non perferendis est sequi, magni repellendus.</p>   
                 </content>
            </article>
        </div>
        <aside class="top-sidebar">
            <h2>Navegación</h2>
            <ul class="navigation">
                <li><a href="">Incio</a></li>
                <li><a href="">Noticias</a></li>
                <li><a href="">Acerca De</a></li>
                <li><a href="">Contactanos</a></li>
            </ul>
        </aside>
        <aside class="bottom-sidebar">
           <div class="featured">
                <h2>¿Qué es y para qué sirve JavaScript?</h2>
                <p>JavaScript (JS) es un lenguaje ligero e int</p>
                <a href="">Leer Mas>></a>
           </div>
        </aside>
    </div>

  

    <footer class="pageFooter">
        <p>Copyright &copy; 2018 -www.misitio.com</p>

    </footer>
</body>
</html>